@import 'antd/dist/reset.css';

body {
  background-color: #aeb6bd;
  background-color: #e7e7e7;
  padding: 50px 0;
}

.container {
  max-width: 1100px;
  padding: 0 50px;
  margin: 0 auto;
}

.ant-spin-container::after {
  background: transparent !important;
}

.ant-list-item-meta-title {
  margin-bottom: 0 !important;
}

@media (max-width: 767px) {
  .container {
    padding: 0 10px;
  }
}